body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font: 12px Roboto;
  color: #424242;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

hr {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  height: 5px;
  background-color:#7d97ad;
}

header, section {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/*
 *
 * Header
 *
 */

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 56px;
  transition: min-height 0.3s;
}

.header__logo {
  flex-grow: 1;
}

.header__title {
  flex-grow: 3;
  text-align: right;
}

/*
* Details section
*/
.details_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/*
* Featured Work section
*/
.work_featured_list {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  height: 100%;
  justify-content: center;
}

.work_featured_title {
  color: #7d97ad;
  font: 2em Arial, Helvetica, sans-serif;
}

.work_featured_item {
  width: 30%;
  text-align: center;
}

.work_featured_name {
  font: 1.5em Arial, Helvetica, sans-serif;
}

.work_featured_img {
  max-height: 100%;
  max-width: 100%;
  padding: 5% 5% 5% 5%;
}
